body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: linear-gradient(to right,  #3e783c, #769e6a);
    position: fixed;
    z-index: 10;
}



.logo{
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 20px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
main{
    height: 100%;
    width: 100%;
}

.menu{
    float: left;

    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    margin-right: 25px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    
}
.menu li a{
    transition: all 0.2s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #000;
    text-shadow: 2px 2px 2px #fff;
    
}

.menu li a:active{
    transform: scale(1.4);
}

.active{
    font-variant: small-caps; 
    font-size:16px; 
    padding-left:7px; 
    word-spacing: 1px;
}


@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
        
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

.lds-dual-ring {
    display: inline-block;
    float: left;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 6px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.white-btn:visited{
    color: #fff;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #86a876;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #3e783c;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/icon/13.png) 90% 100%/auto 100% no-repeat , url(../img/newimg/fon1.jpg) center/cover no-repeat; 
    background-attachment: fixed;

}
.title_container{
    float:left;
    color: #3e783c;
    
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.title_container h1{
    font-family: Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}
.title_container h4{
    margin-top: 30px;
    font-size: 20px;
    color: #0f1f31;
    text-shadow: 2px 2px  #fff;
    
}
.title_container input{
    height: 25px;
    text-align: center;
    border: 2px solid #3e783c;
    background: none;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
    padding: 0px 30px;
    margin: 25px 20px 0px 20px;
    transition: all 0.2s;
    transform: scale(1);
}
.title_container input:hover{
    background: #3e783c;
    color: #fff;
}
.title_container input:active{
    transform: scale(1.2);
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
        
    }
}

@media (max-width: 988px){
    .title_container, .title_container h4, .title_container input{
        color: #fff;
        position: relative;
        z-index: 3;
    }
    
    .title_container input{
        border: 2px solid #fff;
    }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content: "";
        bottom: 0;
        top:0;
        left: 0;
        right: 0;
        position:absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
}

.summary {
width:100%;
height:100%;
background:url(../img/bgd1.png) 100% center/cover no-repeat;
text-align:center;
}

.summary h2 {
font-size:25px;
color:#3e783c;
text-shadow:2px 2px 2px #000;
text-transform:uppercase;
font-weight:700;
margin-top:40px;
letter-spacing:15px;
}

.summary_foto {
height:60%;
background-position:center;
background-repeat:no-repeat;
}

.summary p {
text-align:left;
font-size:16px;
color:#0f1f31;
background:none;
margin-top:20px;
}

.summary input {
text-align:right;
height:25px;
border:2px solid #3e783c;
background:url(../img/icon/1.png) no-repeat left;
border-radius:5px;
color:#0f1f31;
font-size:13px;
margin-top:30px;
transition:all .2s;
transform:scale(1);
padding:0 30px;
}

.summary input:hover {
background:#3e783c;
color:#fff;
}

.skills {
text-align:center;
width:100%;
background:url(../img/newimg/fon3.jpg) no-repeat center/cover;
background-attachment:fixed;
}

.skills h2 {
text-align:center;
text-transform:uppercase;
font-weight:700;
font-size:25px;
color:#3e783c;
text-shadow:2px 2px 2px #000;
padding-bottom:30px;
padding-top:40px;
letter-spacing:15px;
}

.skills h5 {
color:#0f1f31;
text-shadow:2px 2px 2px #fff;
font-size:20px;
margin:10px 0;
}

.skills p {
color:#0f1f31;
padding-bottom:40px;
}

#skills_form {
-webkit-animation:skills_card 15s ease forwards;
-o-animation:skills_card 15s ease forwards;
animation:skills_card 15s ease forwards;
}

to {
opacity:1;
margin-left:0;
}

.case {
width:100%;
background:url(../img/bgd3.png);
}

.case h2 {
font-size:25px;
color:#3e783c;
text-shadow:2px 2px 2px #000;
text-transform:uppercase;
font-weight:700;
text-align:center;
line-height:60px;
padding-top:40px;
letter-spacing:15px;
}

.case p {
text-align:center;
font-size:16px;
color:#0f1f31;
}

.case_i {
width:100%;
font-size:16px;
background:url(../img/newimg/fon7.jpg) no-repeat center/cover;
background-attachment:fixed;
}

.case_i h5 {
text-transform:uppercase;
font-weight:700;
color:#0f1f31;
text-shadow:2px 2px 2px #3e783c;
letter-spacing:5px;
}

.case_i p {
color:#0f1f31;
}

.case_i button {
text-align:center;
height:25px;
border:2px solid #3e783c;
border-radius:5px;
color:#fff;
font-size:13px;
text-transform:uppercase;
background-color:#3e783c;
margin-top:30px;
transition:all .2s;
transform:scale(1);
padding:0 30px;
}

.case_i button:hover {
background:#3e783c;
border:2px solid #000;
}

.price {
text-align:center;
width:100%;
background:url(../img/text/l.png) center 80% no-repeat;
}

.price h2 {
text-align:center;
font-size:23px;
font-weight:700;
color:#3e783c;
text-shadow:2px 2px 2px #000;
letter-spacing:10px;
padding:30px;
}

.price h5 {
font-size:16px;
font-weight:700;
text-transform:uppercase;
color:#0f1f31;
}

.price select {
color:#747474;
background-color:#bbdaad;
margin-bottom:20px;
padding:10px 250px;
}

.price table {
color:#102032;
text-align:left;
margin:0;
}

.price td {
font-weight:700;
text-align:right;
}

.summary input:active,.case_i button:active {
transform:scale(1.2);
}

@media max-width 988px {
.summary p::after {
content:"";
bottom:0;
top:0;
left:0;
right:0;
position:absolute;
}

.price h5 {
color:#e97700;
text-align:center;
}

.price th {
color:#e97700;
text-transform:uppercase;
}

.price select {
padding:10px 90px;
}

.price table {
margin-bottom:10px;
}

.summary,.summary h2,.summary p,.summary input,.skills,.skills h2,.skills h5,.skills p,skills img,.case_i,.case_i h5,.case_i li,.case_i button,.price,.price td,.price table,.price select,.price h5,.price h2,.price td,.price th {
color:#fff;
position:relative;
z-index:3;
}

.summary,.skills {
position:relative;
}

.summary input,.case_i button {
border:2px solid #fff;
}

.summary::after,.skills::after,.case::after,.foto::after,.case_i::after,.price::after {
content:"";
bottom:0;
top:0;
left:0;
right:0;
position:absolute;
background:rgba(0,0,0,0.4);
z-index:1;
}

.skills h5,.case_i h5,.price td {
color:#e97700;
}

.case,.case h2,.case p,.foto {
color:#fff;
position:relative;
z-index:2;
}
}


.statistics{
    width: 100%;
    height: 350px;
    background:  url(../img/newimg/fon5.jpg) 100% center/100% no-repeat;
    background-attachment: fixed;
}

.statistics h2{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #3e783c;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
    letter-spacing: 15px;

}

.statistics_foto{
    text-align: center;
    -webkit-animation: statistics_form 15s ease forwards;
    -o-animation: statistics_form 15s ease forwards;
    animation: statistics_form 15s ease forwards;
    opacity: 0; 
} 

.statistics p{
    color: #283b4e;
    text-shadow: 2px 2px 2px #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


@media (max-width: 988px){
    .statistics p, .statistics h2, .statistics, .statistics img {
        color: #fff;
        position: relative;
        z-index: 3;
    }  

    .statistics::after{
        content: "";
        bottom: 0;
        top:0;
        left: 0;
        right: 0;
        position:absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
}

@keyframes statistics_form{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
        
    }
} 


.rewiew {
width:100%;
height:400px;
text-align:center;
background:url(../img/newimg/foto2.jpg) center 35%;
background-repeat:no-repeat;
background-size:180px 130px;
}

.rewiew h2 {
padding-top:40px;
color:#3e783c;
text-shadow:2px 2px 2px #000;
font-size:23px;
font-weight:700;
padding-bottom:45px;
text-transform:uppercase;
letter-spacing:15px;
}

.rewiew p {
font-size:16px;
margin-top:100px;
color:#283b4e;
}

.rewiew cite {
font-style:normal;
font-size:18px;
}

.footer {
width:100%;
height:700px;
background:url(../img/newimg/fon6.jpg) center/100% no-repeat;
background-attachment:fixed;
}

.footer h2 {
color:#3e783c;
text-shadow:2px 2px 2px #000;
text-align:center;
font-size:25px;
font-weight:700;
padding-top:40px;
text-transform:uppercase;
padding-bottom:20px;
letter-spacing:15px;
}

.footer p {
font-size:18px;
text-align:center;
padding-bottom:20px;
}

.footer h5 {
text-align:center;
font-size:14px;
letter-spacing:4px;
padding-bottom:20px;
}

#footer_offset {
text-align:center;
padding-bottom:20px;
}

.footer h4 {
font-size:16px;
font-weight:700;
text-transform:uppercase;
text-align:center;
width:100%;
float:left;
color:#3e783c;
text-shadow:2px 2px 2px #fff;
padding-bottom:20px;
}

.btn {
background-color:#3e783c;
border:#3e783c;
}

.btn:hover {
background:#3e783c;
color:#fff;
}

.footer>input:hover {
background:#fff;
color:#2a3d50;
}

.footer>input:active {
transform:scale(1.2);
}

.cart {
width:100%;
height:300px;
}

.author {
width:100%;
height:60px;
background:#3e783c;
}

.author cite {
color:#fff;
text-align:center;
line-height:60px;
text-shadow:2px 2px 2px #000;
}

.footer label,.form-label {
text-shadow:2px 2px 2px #fff;
letter-spacing:4px;
font-size:16px;
}

@media max-width 988px {
.footer input {
padding:none;
}

.footer {
position:relative;
}

.author,.author cite {
color:#fff;
position:relative;
z-index:2;
}

.rewiew cite,.rewiew p,.rewiew h2,.rewiew,.rewiew img,.text_area textarea,.text_area,.footer p,.footer h4,.footer,.footer img,.footer h5,.footer h2,.input_text input,.input_text {
color:#fff;
position:relative;
z-index:3;
}

.rewiew::after,.footer::after {
content:"";
bottom:0;
top:0;
left:0;
right:0;
position:absolute;
background:rgba(0,0,0,0.4);
z-index:1;
}
}