body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #2a3d50;
}
.logo{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding-left: 250px;
    float: left;
}
.menu{
    float: left;
    padding-left: 250px;
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 25px;
    font-size: 12px;
    text-transform: uppercase;
    
}

.main{
    width: 100%;
    height: 100%;
    background:url(../img/shadow.png) 100% 100%/auto no-repeat , url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bgd.png) center/cover no-repeat; 
}
.title_container{
    float:left;
    margin:  300px 0px 0px 280px;
    color: #21354a;
    text-align: center;
}
.title_container h1{
    font-size: 40px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 30px;
    font-size: 20px;
    color: #abafb9;   
}
.title_container input{
    height: 25px;
    text-align: center;
    border: 2px solid #697784;
    background: none;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    padding: 0px 0.2px;
    margin: 25px 14px 0px 14px;
}
.summary{
    width: 100%;
    height: 100%;
    background: url(../img/boy1.png) no-repeat center ,url(../img/bgd1.png) 100% center/cover  no-repeat;
    text-align: center;
}
.summary h2{
    font-size: 25px;
    color: #1a2e43;
    text-transform: uppercase;
    background: url(../img/1.png) center/10% 1% no-repeat;
    padding: 80px 0px 150px 0px;
    font-weight: bold;
    margin-bottom: 180px;
}
.summary p{
    text-align: center;
    font-size: 16px;
    color: #a6abb2;
    padding-top: 20px;
    background: none;
    
}
.summary input{
    text-align: center;
    height: 25px;
    border: 2px solid #697784;
    background: url(../img/2.png) no-repeat 7%;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    padding: 0px 0.2px;
    margin-top: 30px;
}
.skills{
    float: left;
    width: 100%;
    height: 100%;
    background:url(../img/3.png) no-repeat 20% 20%, url(../img/4.png) no-repeat 43% 20%, url(../img/5.png) no-repeat 65% 20%, url(../img/6.png) no-repeat 87% 20%, url(../img/bgd2.png) no-repeat;
}
.skills h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #1a2e43;
    margin-top: 40px;
    padding-bottom: 30px; 
    background: url(../img/1.png) center/15% 5% no-repeat;
}
.skills ul{
    float: left;
    width: 100%;
    text-align: center;
    padding: 50px 60px 15px 90px;
    color: #979ea8;
    font-size: 12px;
    
}
.skills h5{
    float: left;
    width: 0;
    font-size: 13px;
    color: #e87600;
    text-align: center;
    margin: 20px 50px 30px 60px;
 

}
.skills li{

    float: left;
    width: 15%;
    color: #979ea8;
    font-size: 12px;
    text-align: center;
    padding: 40px;
}
.case{
    float: left;
    width: 100%;
    height: 260px;
    background: url(../img/bgd3.png);
}
.case h2{
    font-size: 25px;
    color: #1a2e43;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 40px;
    background: url(../img/1.png) center/10% 3% no-repeat;

}
.case p{
    text-align: center;
    font-size: 16px;
    color: #37475a;
    padding-top: 20px;
    background: none;
}
.foto{
    float: left;
    width: 100%;
    height: 100%;
    background: url(../img/foto.png) 100% center/70% 90% no-repeat;
    background-position: center; 
}
.case_i{
    float: left;
    width: 100%;
    height: 200px;
    color: #304154;
    font-size: 16px;
    margin:  0px 0px 0px 200px;
    text-align: left;
    
}
.case_i h5{
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;

}
.case_i h6{
    font-weight: bold;
    padding-top: 10px;

}
.case_i input{
    text-align: center;
    height: 25px;
    border: 2px solid #00b6af;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 0.2px;
    margin-top: 30px;
    text-transform: uppercase;
    background-color: #00b6af;
}

.price{
    float: left;
    text-align: center;
    width: 100%;
    height: 850px;
    background: url(../img/text/l.png) 50% center/80%  no-repeat ;
}
.price h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 30px;
    color: #102031;
}
.price h5{
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px 50px 60px 70px ;
    color: #0f1f31;
}
.price select{
    color: #747474;
    background-color: #eeeeee;
    padding: 5px 250px;
    margin-bottom: 25px;
}
.price table{
    color: #102032;
    float: left;
    margin: 25px 25px;
}

.statistics{
    float: left;
    width: 100%;
    height: 400px;
    background: url(../img/10.png)  no-repeat 84% 60%, url(../img/9.png)  no-repeat 60% 60%, url(../img/8.png)  no-repeat 36% 60%, url(../img/7.png)  no-repeat 13% 60%, url(../img/fon.png) 100% center/100% no-repeat;
}
.statistics h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-bottom: 45px;
    color: #102031;
    text-transform: uppercase;
    background: url(../img/1.png) center/10% 5% no-repeat;
}
.statistics li{
    float: left;
    text-align: center;
    color: #283b4e;
    margin: 50px 50px 0px 50px;
    padding-left: 50px;
    padding-top: 60px;
    font-size: 15px;
    text-transform: uppercase;
}
.rewiew{
    float: left;
    width: 100%;
    height: 300px;
    color: #172c40;
    text-align: center;
    background: url(../img/11.png) 47% 80% no-repeat, url(../img/12.png) center 80% no-repeat, url(../img/12.png) 53% 80% no-repeat;
}
.rewiew h2{
    font-size: 23px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 45px;
    text-transform: uppercase;
    background: url(../img/1.png) center/7% 5% no-repeat; 
    
}
.rewiew p{
    font-size: 16px;
    padding-bottom: 40px;
    background: none;
}
.rewiew cite{
    font-style: normal;
    font-size: 18px;
}
.footer {
    float: left;
    width: 100%;
    height: 700px;
    text-align: center;
    background: url(../img/13.png) center/100% no-repeat;
    color: #fff;
}
.footer h2{
    font-size: 23px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-bottom: 45px;
    text-transform: uppercase;
    background: url(../img/1.png) center/10% 5% no-repeat;
}
.footer p{
    margin-bottom: 40px;
    font-size: 14px;
}
.footer ul{
    text-align: center;
    color: #fff;
    background:  url(../img/17.png) 35% 45%  no-repeat, url(../img/18.png) 50% 50% no-repeat, url(../img/19.png) 65% 45%  no-repeat;

}
.footer h4{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 40px;
}
.input_text{
    float: left;
    width: 500px;
    text-align: center;
    color: #5d5d5e;
    margin:auto;
}
.text_input{
    float: left;
    width: 500px;
    text-align: center;
    color: #5d5d5e;
    margin: center;
    
}
.footer textarea{    
    color: #5d5d5e;
    margin-top: 30px;
    margin-right: 60px;

}
.footer>input{
    float: left;
    text-align: center;
    width: 150px;
    margin: 90px 60px 0px 30px;
    height: 25px;
    border: 5px  #fff;
    border-radius: 5px;
    color: #2d3f52;
    font-size: 13px;
    padding: 0px 0.2px;

}
.cart{
    float: left;
    width: 100%;
    height: 300px;
    text-align: center;
    background: url(../img/cart.png)  no-repeat;
    padding-top: 100px;
}
.cart h5{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    padding-top: 5px;
    border:  3px solid #fff;
    background-color: #fff;
    box-shadow: 0px 5px 10px 1px;
    margin: 40px 330px 20px 900px;
    
}
.author{
    float: left;
    width: 100%;
    height: 60px;
    background: #2a3d50;
}
.author cite{
    color: #fff;
    text-align: center;
    margin: 20px 550px;
    line-height: 60px;
}