body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #2a3d50;
}
.logo{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding-left: 250px;
    float: left;
}
.menu{
    float: left;
    padding-left: 250px;
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 25px;
    font-size: 12px;
    text-transform: uppercase;
    
}

.main{
    width: 100%;
    height: 100%;
    background:url(../img/shadow.png) 100% 100%/auto no-repeat , url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bgd.png) center/cover no-repeat; 
}
.title_container{
    float:left;
    margin:  300px 0px 0px 280px;
    color: #21354a;
    text-align: center;
}
.title_container h1{
    font-size: 40px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 30px;
    font-size: 20px;
    color: #abafb9;   
}
.title_container input{
    height: 25px;
    text-align: center;
    border: 2px solid #697784;
    background: none;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    padding: 0px 0.2px;
    margin: 25px 14px 0px 14px;
}
.summary{
    width: 100%;
    height: 100%;
    background: url(../img/boy1.png) no-repeat center ,url(../img/bgd1.png) 100% center/cover  no-repeat;
    text-align: center;
}
.summary h2{
    font-size: 25px;
    color: #1a2e43;
    text-transform: uppercase;
    background: url(../img/1.png) center/10% 1% no-repeat;
    padding: 80px 0px 150px 0px;
    font-weight: bold;
    margin-bottom: 180px;
}
.summary p{
    text-align: center;
    font-size: 16px;
    color: #a6abb2;
    padding-top: 20px;
    background: none;
    
}
.summary input{
    text-align: center;
    height: 25px;
    border: 2px solid #697784;
    background: url(../img/2.png) no-repeat 7%;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    padding: 0px 0.2px;
    margin-top: 30px;
}
.skills{
    float: left;
    width: 100%;
    text-align: center;
    background: url(../img/bgd2.png) no-repeat;
}
.skills h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #1a2e43;
    margin-top: 40px;
    padding-bottom: 30px; 
    background: url(../img/1.png) center/15% 5% no-repeat;
}

.skills_veb{
    float: left;
    width: 100%;
    text-align: center;
    background: url(../img/3.png)  no-repeat;
    padding: 10px;

}
.skills_dev{
    float: left;
    width: 100%;
    text-align: center;
    background: url(../img/4.png)  no-repeat;
    padding: 10px;
}

.skills_ceo{
    float: left;
    width: 100%;
    text-align: center;
    background: url(../img/5.png)  no-repeat;
    padding: 10px;
}
.skills_mark{
    float: left;
    width: 100%;
    text-align: center;
    background: url(../img/6.png)  no-repeat;
    padding: 10px;
    margin-bottom: 30px;
}
.skills h5{
    color: #e97700;
}
.skills p{
    color: #37475a;
}

.case{
    width: 100%;
    background: url(../img/bgd3.png);
}
.case h2{
    font-size: 25px;
    color: #1a2e43;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    padding-bottom: 60px;
    background: url(../img/1.png) no-repeat;

}
.case p{
    text-align: center;
    font-size: 16px;
    color: #37475a;
    padding-bottom: 20px;
}
.foto{
    width: 100%;
    height: 500px;
    background: url(../img/foto.png) 100% center/70% 90% no-repeat;
    background-position: center; 
}
.case_i{
    float: left;
    width: 100%;
    color: #304154;
    font-size: 16px;
    text-align: center;
    
}
.case_i h5{
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;

}
.case_i h6{
    font-weight: bold;
    padding-top: 10px;

}
.case_i input{
    text-align: center;
    height: 25px;
    border: 2px solid #00b6af;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 0.2px;
    margin-top: 30px;
    text-transform: uppercase;
    background-color: #00b6af;
    margin-bottom: 60px;
}

.price{
    text-align: center;
    width: 100%;
    background: url(../img/text/l.png) center 90%  no-repeat ;
}
.price h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #102031;
    padding: 30px;
}
.price h5{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f1f31;
    text-align: left;
    padding-left: 360px;
}
.price select{
    color: #747474;
    background-color: #eeeeee;
    padding: 10px 250px;
    margin-bottom: 35px;
}
.price table{
    color: #102032;
    text-align: left;
    padding: 20px;
    padding-left: 360px;
    margin-bottom: 40px;


}
.price td{
    padding-left: 540px;
    font-weight: bold;

}

.statistics{
    width: 100%;
    height: 350px;
    background:  url(../img/10.png)  no-repeat 84% 60%, url(../img/9.png)  no-repeat 60% 60%, url(../img/8.png)  no-repeat 36% 60%, url(../img/7.png)  no-repeat 13% 60%, url(../img/fon.png) 100% center/100% no-repeat;
  
}
.statistics h2{
    line-height: 100px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #102031;
    text-transform: uppercase;
    padding-bottom: 35px;
    background: url(../img/1.png) center/20% 3% no-repeat;
}
.statistics li{
    float: left;
    text-align: center;
    color: #283b4e;
    margin: 50px 50px 0px 50px;
    padding-left: 50px;
    padding-top: 60px;
    font-size: 15px;
    text-transform: uppercase;

}

.rewiew{
    width: 100%;
    height: 300px;
    color: #172c40;
    text-align: center;
    background: url(../img/boy2.png) center 30% no-repeat;
}
.rewiew h2{
    font-size: 23px;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 45px;
    text-transform: uppercase;
    background: url(../img/1.png) center/7% 5% no-repeat; 
    
    
}
.rewiew p{
    font-size: 16px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.rewiew cite{
    font-style: normal;
    font-size: 18px;
    padding-bottom: 20px;
    background: url(../img/11.png) 30% 100% no-repeat, url(../img/12.png) center 100% no-repeat, url(../img/12.png) 70% 100% no-repeat;
}

.footer {
    width: 100%;
    height: 400px;
    background: url(../img/13.png) center/100% no-repeat;
    color: #fff;
}
.footer h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
    background: url(../img/1.png) center/13% 3% no-repeat;
}
.footer p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
.footer ul{
    float: left;
    width: 100%;
    text-align: center;
    background:  url(../img/17.png) 35% 45%  no-repeat, url(../img/18.png) 50% 50% no-repeat, url(../img/19.png) 65% 45%  no-repeat;
    margin: 20px;
    
}
.footer h4{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.input_text{
    float: left;
    width: 100%;
    text-align: center;
    color: #5d5d5e;
    margin-right: 10px;
}
.input_text input{

    height: 25px;
    border: 5px solid #d6dbe1;
    padding: 10px 25px;
    background-color: #d6dbe1;
    margin: 10px;
}
.text_input{
    text-align: center;
}
.text_input input{

    height: 25px;
    border: 5px solid #d6dbe1;
    padding: 10px 150px;
    background-color: #d6dbe1;
}
    
.footer>input{
    text-align: center;
    width: 150px;
    margin-left: 600px;
    margin-top: 20px;
    height: 25px;
    border: 5px solid #fff;
    border-radius: 5px;
    color: #2d3f52;
    font-size: 13px;
    padding: 0px 0.2px;

}
.cart{
    width: 100%;
    height: 300px;
    text-align: center;
    background: url(../img/cart.png)  no-repeat;
    padding-top: 100px;
}
.cart h5{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    padding-top: 5px;
    border:  3px solid #fff;
    background-color: #fff;
    box-shadow: 0px 5px 10px 1px;
    margin: 40px 330px 20px 900px;
    
}
.author{
    width: 100%;
    height: 60px;
    background: #2a3d50;
}
.author cite{
    color: #fff;
    text-align: center;
    margin: 20px 550px;
    line-height: 60px;
} **/