body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #2a3d50;
    position: fixed;
}

.logo{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding-left: 250px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
main{
    height: 100%;
    width: 100%;
}

.menu{
    float: left;
    padding-left: 250px;
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 25px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    
}
.menu li a{
    transition: all 0.2s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #f2810b;
}

.menu li a:active{
    transform: scale(1.4);
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
        
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

.lds-dual-ring {
    display: inline-block;
    float: left;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 6px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main{
    width: 100%;
    height: 100%;
    background:url(../img/shadow.png) 100% 100%/auto no-repeat , url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bgd.png) center/cover no-repeat; 
    background-attachment: fixed;

}
.title_container{
    float:left;
    margin:  300px 0px 0px 280px;
    color: #21354a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.title_container h1{
    font-size: 40px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 30px;
    font-size: 20px;
    color: #abafb9;   
}
.title_container input{
    height: 25px;
    text-align: center;
    border: 2px solid #697784;
    background: none;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    padding: 0px 30px;
    margin: 25px 20px 0px 20px;
    transition: all 0.2s;
    transform: scale(1);
}
.title_container input:hover{
    background: #2a3d50;
    color: #fff;
}
.title_container input:active{
    transform: scale(1.2);
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 280pxpx;
        
    }
}
.summary{
    width: 100%;
    height: 100%;
    background: url(../img/boy1.png) no-repeat center 25% ,url(../img/bgd1.png) 100% center/cover  no-repeat;
    text-align: center;
}
.summary h2{
    font-size: 25px;
    color: #1a2e43;
    text-transform: uppercase;
    background: url(../img/1.png) center/10% 2% no-repeat;
    padding: 40px 0px 70px 0px;
    font-weight: bold;
    margin-bottom: 180px;
}


.summary p{
    text-align: left;
    margin-left: 370px;
    font-size: 16px;
    color: #a6abb2;
    padding-top: 50px;
    background: none;
    
}
.summary input{
    text-align: right;
    height: 25px;
    border: 2px solid #697784;
    background: url(../img/2.png) no-repeat 7%;
    border-radius: 5px;
    color: #697784;
    font-size: 13px;
    padding: 0px 30px;
    margin-top: 50px;
    transition: all 0.2s;
    transform: scale(1);
}

.summary input:hover{
    background: #2a3d50;
    color: #fff;
}
.summary input:active{
    transform: scale(1.2);
}


.skills{
    text-align: center;
    float: left;
    width: 100%;
    background: url(../img/bgd2.png) no-repeat;
    background-attachment: fixed;


}
.skills h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #1a2e43;
    margin-top: 40px;
    padding-bottom: 30px; 
    background: url(../img/1.png) center/15% 5% no-repeat;
}

.skills_veb{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
    margin: 0px 60px;


}
.skills_dev{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
    margin: 0px 60px;

}

.skills_ceo{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
     margin: 0px 60px;

}
.skills_mark{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    margin: 0px 60px;
  
}
.skills h5{
    color: #e97700;
    margin: 10px 0px;
}
.skills p{
    color: #37475a;
}
.skills_card{
    -webkit-animation: skills_card 15s ease forwards;
    -o-animation: skills_card 15s ease forwards;
    animation: skills_card 15s ease forwards;
}
    
@keyframes skills_card{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 60px;
    }
}


.case{
    width: 100%;
    background: url(../img/bgd3.png);
}
.case h2{
    font-size: 25px;
    color: #1a2e43;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    padding: 30px 0px;
    background: url(../img/1.png) center 90%  no-repeat;

}
.case p{
    text-align: center;
    font-size: 16px;
    color: #37475a;
    padding-bottom: 20px;
}
.foto{
    width: 100%;
    height: 500px;
    background: url(../img/foto.png) 100% center/70% 90% no-repeat;
    background-position: center; 

}
.case_i{
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 200px;
    color: #304154;
    font-size: 16px;
}
.case_i h5{
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
}
.case_i input{
    text-align: center;
    height: 25px;
    border: 2px solid #00b6af;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 30px;
    text-transform: uppercase;
    background-color: #00b6af;
    margin-top: 30px;
    transition: all 0.2s;
    transform: scale(1);
}

.case_i input:hover{
    background: #2a3d50;
}
.case_i input:active{
    transform: scale(1.2);
}


.case_a{
    float: left;
    width: 50%;
    text-align: left;
    padding-right: 180px;
    color: #304154;
    font-size: 16px;
}

.case_a h5{
    font-weight: bold;
    padding-top: 10px;
}

.price{
    text-align: center;
    width: 100%;
    background: url(../img/text/l.png) center 80%  no-repeat ;
    margin-top: 150px;
}
.price h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #102031;
    padding: 30px;
}
.price h5{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f1f31;
    text-align: left;
    padding-left: 360px;
}
.price select{
    color: #747474;
    background-color: #eeeeee;
    padding: 10px 250px;
    margin-bottom: 35px;
}
.price table{
    color: #102032;
    text-align: left;
    padding: 20px;
    padding-left: 360px;
    margin-bottom: 40px;


}
.price td{
    padding-left: 540px;
    font-weight: bold;

}

.statistics{
    width: 100%;
    height: 350px;
    background:  url(../img/fon.png) 100% center/100% no-repeat;
    background-attachment: fixed;
}

.statistics h2{
    line-height: 100px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #102031;
    text-transform: uppercase;
    padding-bottom: 35px;
    background: url(../img/1.png) center/20% 3% no-repeat;
}

.statistics_foto{
    -webkit-animation: statistics_form 35s ease forwards;
    -o-animation: statistics_form 35s ease forwards;
    animation: statistics_form 35s ease forwards;
    opacity: 0; 
}

.statistics p{
    color: #283b4e;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 40px;
}
.statics{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
    margin: 0px 60px;
}
.statics2{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
    margin: 0px 60px;
}
.statics3{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
    margin: 0px 60px;
}
.statics4{
    float: left;
    width: 15%;
    text-align: center;
    padding: 10px;
    margin: 0px 60px;
}


@keyframes statistics_form{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 50px;
        
    }
} 

.statics:nth-child(1){
    animation-delay: 2s;
}
.statics2:nth-child(2){
    animation-delay: 4s;
}
.statics3:nth-child(3){
    animation-delay: 6s;
}
.statics4:nth-child(4){
    animation-delay: 8s;
}


.rewiew{
    width: 100%;
    height: 300px;
    color: #172c40;
    text-align: center;
    background: url(../img/boy2.png) center 30% no-repeat;
}
.rewiew h2{
    font-size: 23px;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 45px;
    text-transform: uppercase;
    background: url(../img/1.png) center/7% 5% no-repeat; 
    
    
}
.rewiew p{
    font-size: 16px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.rewiew cite{
    font-style: normal;
    font-size: 18px;
    padding-bottom: 20px;
    background: url(../img/11.png) 30% 100% no-repeat, url(../img/12.png) center 100% no-repeat, url(../img/12.png) 70% 100% no-repeat;
}

.footer {
    width: 100%;
    height: 400px;
    background: url(../img/17.png) 24% 40%  no-repeat, url(../img/18.png) 50% 40% no-repeat, url(../img/19.png) 75% 40%  no-repeat , url(../img/13.png) center/100% no-repeat;
    background-attachment: fixed;
    color: #fff;
}
.footer h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
    background: url(../img/1.png) center/13% 3% no-repeat;
}
.footer p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.footer li{
    float: left;
    text-align: center;
    font-size: 14px;
    margin-left: 290px;
    padding: 50px 0px;
    letter-spacing: 3px;

}
.footer h4{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    float: left;

}

.input_text{
    float: left;
    width: 100%;
    text-align: center;
    color: #5d5d5e;
    margin-right: 10px;
}
.input_text input{

    height: 25px;
    border: 5px solid #d6dbe1;
    margin: 10px 25px;
    background-color: #d6dbe1;
    padding-right: 33px;
}
.text_area{
    text-align: center;
}
.text_area textarea{

    height: 25px;
    border: 5px solid #d6dbe1;
    margin: 0px 100px;
    padding-right: 380px;
    background-color: #d6dbe1;
}
    
.footer>input{
    text-align: center;
    width: 150px;
    margin-left: 600px;
    margin-top: 20px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 0.2px;
    background-color: transparent;
    transition: all 0.2s;
    transform: scale(1);
}

.footer>input:hover{
    background: #fff;
    color: #2a3d50;
}
.footer>input:active{
    transform: scale(1.2);
}
.cart{
    width: 100%;
    height: 300px;
    text-align: center;
    background: url(../img/cart.png)  no-repeat;
    padding-top: 100px;
}
.cart h5{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
    padding-top: 5px;
    border:  3px solid #fff;
    background-color: #fff;
    box-shadow: 0px 5px 10px 1px;
    margin: 40px 330px 20px 900px;
    
}
.author{
    width: 100%;
    height: 60px;
    background: #2a3d50;
}
.author cite{
    color: #fff;
    text-align: center;
    margin: 20px 550px;
    line-height: 60px;
} **/